


html {
    height: 100%;
}

::selection {
    /* Change highlight background color to black */
    background: #41419b;
    /* Change highlight text color to red */
    color: #e8e8f6;
}

.background_hack {
    width: 100%;
    height: 100%;
}

.base_background {
    background-color: #dac8b5;

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: inherit;

    z-index: -10;
}

.tiled_background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: inherit;

    background-image: url("https://image.freepik.com/free-vector/abstract-cube-pattern_1319-153.jpg ");
    /*

    https://image.freepik.com/free-vector/minimal-triangle-pattern-design-pastel-colors_1017-14885.jpg
    https://image.freepik.com/free-vector/geometric-shapes-pattern-background_1319-136.jpg

    https://image.freepik.com/free-vector/abstract-pattern_1319-108.jpg
     */
    opacity: 0.06;
    background-repeat: repeat round;
/*    background-attachment: fixed;    */

    z-index: -1;
}



/*
Regular links and text
 */

a {
    text-decoration: none;
}

.reg_link, .reg_link.visited {
    color: white;
    transition: all .1s ease-in-out;
    display: inline-block;
    font-size: 115%;
    font-family: 'Baloo 2';
}

.reg_link:hover {
    transform: scale(1.02) translate(-0.1rem, -0.1rem);
}

.reg_text {
    font-size: 125%;
    font-family: 'Baloo 2';
    line-height: 1rem;
}

.intro_text {
    line-height: 110%;
    max-width: 60%;
    padding-left: 2%;
    font-size: 115%;
}

.reg_ul_list {
    list-style-type: none;
    padding-left: 1rem;
    line-height: 1.5rem;
}

.reg_sub_list_item {
    padding-left: 8%;
}


/* Such a nifty condition, this last-child thing */
li.reg_sub_list_item:not(:last-child) {
    margin-bottom: 0.5rem;
}


/*
Containers
 */

.main_container {
    z-index: 100;
}

.reg_container {
    display: flex;
    max-width: 30%;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.reg_grid_container {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    /* Three columns */
    grid-template-rows: 0.75fr 0.75fr;
    /* Two rows */

    grid-gap: 3%;
}

.reg_grid_item {
    width: 90%;
    justify-self: center;

    offset-position: top;
}


/* Deprecated - I used this when I had buttons jumping to the page but the header was getting in the way, so this offset
everything to that it jumped a bit further down but elements kept decently similar positioning to before
 */
.offset_anchor {
    padding-top: 120px;
    margin-top: -80px;
}



.intro_pic {
    width: 38%;
    height: 38%;
    border-radius: 50%;
    position: relative;
    left: -13%;
}

.page_line_sep {
    border-style: inset;
    width: 80%;
    border-width: 2px;
    height: 1px;
    background-color: #6767e0;

    z-index: 100;
}



/* Main Page */

.main_page_grid_container {

    display: inline-grid;

    grid-template-columns: 1fr 1fr 1fr;
    /* Two columns */
    grid-template-rows: 1fr /* 1fr */;
    /* Two rows */

    row-gap: 4%;
}

.main_page_grid_item {
    justify-self: center;
    display: flex;
    justify-content: center;

    min-width: 50%;
    /*
    border-radius: 10px;
    background-color: rgba(50, 50, 50, 0.1);
    */

    font-size: 200%;
}

.main_page_grid_text, .main_page_grid_text.visited {
    color: #000000;
    transition: all .1s ease-in-out;
}

.main_page_grid_text:hover {
    color: white;
    transform: scale(1.03) translate(-0.1rem, -0.1rem);
    text-shadow: 0.1rem 0.1rem rgba(20, 20, 20, 0.8);

}

/*
External sources
 */
.itch_page_embed {
    border-radius: 4px;
    margin-top: 1%;
    margin-bottom: 1%;
}

.itch_games_ul_list {
    list-style-type: none;
    padding-left: 0rem;
    line-height: 1.5rem;
}

.itch_thumb_custom {
    width: 30vh;
    height: fit-content;
    padding: 3vh;
    background-color: rgba(156, 156, 255, 0.74);

    border-style: dotted;
    border-width: 0.3vh;
    border-color: black;
    border-radius: 1vh;

    display: inline-flex;
    flex-direction: column;
    align-items: center;

    overflow: hidden;

}

.itch_thumb_custom_pic {
    height: 25vh;
    border-style: solid;
    border-width: 0.2vh;
    border-color: black;
    border-radius: 2vh;
}

.itch_thumb_custom_desc {
    margin-top: 1vh;
    margin-bottom: -2vh;
    height: 10vh;
    width: fit-content;
    width: -moz-fit-content;
    word-wrap: break-word;

    text-align: center;

    font-size: 2.5vh;
}

.itch_thumb_custom_title {
    margin-top: -0.5vh;
    margin-bottom: 1vh;
    width: fit-content;
    width: -moz-fit-content;
    word-wrap: break-word;

    text-align: center;

    font-size: 3.5vh;
}


/* width */
::-webkit-scrollbar {
    width: 25px;
}

/* Track */
::-webkit-scrollbar-track {
    visibility: hidden;
}

/* Backpart */
::-webkit-scrollbar-track-piece {
    background-color: #444460;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #6767e0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #4949b2;
}



{box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

/* The popup form - hidden by default */
.email_form {
    display: inline-block;
    position: relative;

    width: auto;
    margin: auto;

    text-align: center;


    z-index: 10;
}

/* Add styles to the form container */
.form-container {

    padding: 10px;
    background-color: white;

    border-radius: 5px;

}

/* Full-width input fields */
.form-container input[type=text]  {
    width: 80%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.textarea {
    border: 1px solid #ccc;
    padding: 1px 6px;
    display: block;
    max-width: 100%;
    overflow: hidden;
    resize: vertical;
    min-height: 40px;
    line-height: 20px;
}

.textarea[contenteditable]:empty::before {
    content: "Placeholder still possible";
    color: gray;
    box-sizing: border-box;
}


/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}
